* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
font-family: sans-serif;
  line-height: 1.4;
}



.wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 1;
  min-height: auto;
  background:#ECEFF1;
}

.container {
width: 1320px;
margin: 0 auto;
}

a {
  color: #ccc;
  text-decoration: none;
}

.banner_wrapper{
background:white;
box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23);
}


.banner_content{
padding-top: 50px;
margin-bottom: 15px;
width: 100%;
display: flex;
flex-direction: row;
justify-content: space-between;
background:white;
}

.banner_image{
width: 35%;
/*background-image: url(./components/images/todobg.jpg) ; */
background-position: 17% 18%;
background-repeat: no-repeat;
background-size: 100%;
}

.banner {
width: 50%;
display: flex;
flex-direction: column;
line-height: 1.5; 
font-size: 25px;
text-align: center;
margin-bottom: 15px;
margin-right: -90px;
}

.banner_text{
width: 95%;
font-size: 30px;
padding: 10px;
color: indigo;
display: flex;
justify-content: center;
font-family: 'Trebuchet MS';
}

.banner_link{
  color: rgb(214, 38, 38);
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-left: 85px;
}

.headerLink{
color: rgb(214, 38, 38);
text-decoration: none;

}

.card_content{
  font-size: 25px;
  margin: -10px 10px;
  display: flex;
  flex-wrap: wrap;
 /* flex-direction: column;*/
  justify-content: space-between;
}

.card_content-sypnosis{
  margin: 0px 15px 15px 15px;
  font-size: 16px;
}

.card_content-date{
  margin: 30px 15px 15px 15px;
  font-size: 16px;
}


.card_content-category{
  display: flex;
  font-size: 20px;
}

.card_content-category-text{
  color: indigo;
  font-size: 20px;
  margin-left: 9px;
}

.card_content-item{
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin: 15px;
}




/*.Todo:hover {
transform: scale(1.1);
}*/

.calendar{
display: flex;
justify-content: center;
font-size: 19px;
padding: 20px;
color: indigo;

}

.form_content{
  margin: 15px;
  display: flex;
  justify-content: center;
}

.fieldset {
border: 1px solid #82ccc6; 
width: 60%;
margin-left: 260px;
margin-bottom: 10px;
border: 1px solid rgb(159, 179, 179);
background: radial-gradient(circle, rgb(247, 247, 248) 0%, rgb(255, 249, 255) 0%, rgb(255, 255, 255) 98%);
border-radius: 10px;
box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23);
}


.fieldset_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}

.Search_Submit {
  justify-content: center;
  width: 50%;
  padding:50px 0px;
  margin: 26px 10px 16px 11px;
  color: indigo;
  font-size: 1.0rem;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23);
}

.post_wrapper{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 26px auto;
}

.post{
  width: 28%;
  font-family: serif;
  margin: 26px;
  font-size: 1.0rem;
  text-align: left;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23);
  transition: all 0.5s ease;
}

.post:hover{
  transform: scale(1.1);
}


.singlepost {
  width:60%;
  margin: 50px auto;
  background: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23);
  border-radius: 4px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


  .singlepost-content {
    display: flex;
    margin: 0px 26px;
    padding: 30px;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.post-title{
  width: 100%;
  font-size: 16px;
}

.post-catagory{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
}

.post-text {
    width: 100%;
    border: 1px solid indigo;
    border-radius: 5px;
    padding: 15px 10px;
    margin-top: 15px;
}
/*.card_content-btn{
  display: flex;
  justify-content: center;
  margin: 5px;
}*/

pre {
  font-family: serif;
  font-size: 16px;
  overflow: auto;
  text-align:left;
  overflow-x: auto; /* Use horizontal scroller if needed; for Firefox 2, not
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  margin: 0px 0px 0px 0px;
  padding:5px 5px 3px 5px;
  white-space : normal; /* crucial for IE 6, maybe 7? */
}

/*================Buttons==============*/

.btnStyle {
  border: 1px solid;
  font-size: 15px; font-weight: bold;
  margin-left: 25px;
  background: white;
  color: red;
  border-radius: 50%;
  padding:6px 10px;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23);
}

.btn-title_wrapper{
 display: flex
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-post {
  padding: 0 50px;
  display: flex;
  justify-content: left;
}

.buttons{
  margin: 10px;
  padding: 1px;
  display: flex;
  justify-content: flex-end;
}

.buttons-wrapper{
  margin-left: 15px;
  width: 200px;
  padding: 4px;
  background: white;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23);
 
}

.buttons-wrapper:hover, .btnsub-right:hover{
  background: #F4D03F;
  color: white;
}

.btn {
  border: 1px solid indigo;
  color: indigo;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  font-family: Trebuchet MS;
  font-size: 20px;
  padding: 10px 10px;
  margin-right: 10px;
  text-decoration: none;
  width: 150px;
  background: white;
  outline: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23);
  transition: all .2s ease;
}

.btns {
  border-radius: 8px;
  border: 1px solid;
  color: red;
  display: inline-block;
  cursor: pointer;
  font-family: Trebuchet MS;
  font-size: 24px;
  font-weight: bold;
  padding: 5px 9px;
  text-decoration: none;
  width: 150px;
  margin-left: 700px;
  background: white;
  outline: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23);
}

.btnsub-left {
  color: white;
  display: inline-block;
  cursor: pointer;
  font-size: 30px;
  text-decoration: none;
  width: 40px;
  border-radius: 50%;
  background: red;
  border: 1px solid;
  outline: none;
}


.btnsub-right {
  color: red;
  display: inline-block;
  cursor: pointer;
  font-size: 22px;
  padding: 5px 10px;
  text-decoration: none;
  background: white;
  width: 161px;
  border: none;
  border-radius: 22px;
  outline: none;
}

.home_img{
  width: 21px;
 filter: invert();
 /*filter:invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);*/
}

.btn:hover{
  position: relative;
  top: 1px;
  border-radius: 10px;
  display: inline-block;
  position: relative;
  top: 1px;
  background-color: #e2e2e2b2;
  transition: all 0.5s ease;
}

.btn:focus{
  position: relative;
  display: inline-block;
  background-color: #e2e2e2b2;
}

.btn_submit {
  width: 13%;
  font-weight: bold;
  border-radius: 4px;
  border: 1px solid #ccc;
  cursor: pointer;
  padding: 10px 11px;
  margin: 26px 12px 26px 13px;
  text-decoration: none;
  outline: none;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(107,215,209,1) 0%,  rgba(154,222,222,1)  45%, rgba(154,222,222,1) 72%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23);
}

.btn_submit:hover {
  border: 1px solid #b6ab71fd !important;
  border-radius: 10px;
}


/* border-top-style: none; */
/*border-block-end-style: none;
border-block-start-style: none;*/


input[type=text],[type=datetime-local], [type=file],select {
  border: 1px solid indigo;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 18px;
  margin: 0px 0px 25px 0px;
  width: 535px;
  padding: 15px;
  resize: vertical;
  outline: none;
  color:indigo;
  /* font-weight: bold; */
}


input[type=text]:focus,
select:focus {
  border: 1px solid #b6ab71fd !important;
  display: inline-block;
  background: rgb(255, 254, 254);
}

textarea {
  font-size: 20px;
  border: 2px solid indigo;
  margin: 0px 0px 25px 0px;
  padding: 14px 12px;
  height: 306px;
  border-radius: 3px;
  width: 542px;
  border-top: none;
  border-left: none;
  border-right: none;
}


/* The css-checkbox container */
.css-checkbox {
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.css-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23);
  background: rgb(157, 219, 219);
  border-radius: 6px;
}

/* On mouse-over, add a grey background color */
.css-checkbox:hover input ~ .checkmark {
  background-color: rgb(255, 251, 251);
}

/* When the checkbox is checked, add a background */
.css-checkbox input:checked ~ .checkmark {
  background-color: rgb(161, 207, 76);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.css-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.css-checkbox .checkmark:after {
  left: 11px;
  top: -2px;
  width: 5px;
   height: 14px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

::-webkit-input-placeholder {
  text-align: left;
  color: indigo;
  /* font-weight: bold; */
}

:-moz-placeholder {
  text-align: left;
}

::-moz-placeholder {
  text-align: left;
}

:-ms-input-placeholder {
  text-align: left;
}

/*input::placeholder {
text-align: center;
background-image: url(./components/images/search-solid.svg); 
background-position: 95% 50%;
background-repeat: no-repeat;
background-size: 3%;
}*/

/*=============================footer===========================*/

.footer_bottom {
border: none;
display: flex;
flex-direction: row;
}

.bottom_icons {
width: 2px;
position: relative;
}

.footer_bottom--subimg {
width: 30px;
}

.icon_group {
  width: 70%;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 19px 0px 0px 60px;
}

.twitter:hover,
.facebook:hover,
.vimeo:hover,
.linkedin:hover,
.github:hover,
.pinterest:hover {
transform: scale(1.5);
}

.normal {
text-align: center;
font-family: 'Trebuchet MS';
background: #f9f9ff;
}